{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
    <h1>RendezVous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendez_vous.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ rendez_vous.type }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ rendez_vous.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ rendez_vous.createdAt ? rendez_vous.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rendez_vous_index') }}">back to list</a>

    <a href="{{ path('rendez_vous_edit', {'id': rendez_vous.id}) }}">edit</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
