{% extends 'base.html.twig' %}

{% block title %}Maternite{% endblock %}

{% block body %}
    <h1>Maternite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maternite.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ maternite.debut ? maternite.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Accouchement</th>
                <td>{{ maternite.accouchement ? maternite.accouchement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ maternite.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('maternite_index') }}">back to list</a>

    <a href="{{ path('maternite_edit', {'id': maternite.id}) }}">edit</a>

    {{ include('maternite/_delete_form.html.twig') }}
{% endblock %}
